.report-container {
    width: 80%;
    margin: 20px auto;
    background: #e0e0e0;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.report-summary {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.report-card {
    background: #ffffff;
    padding: 15px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.report-card h4 {
    margin: 0;
    font-size: 16px;
    color: #444;
}

.report-card p {
    font-size: 24px;
    font-weight: bold;
    margin: 5px 0;
}


/* Table Styles */

.table-container {
    margin-top: 20px;
    background: #d0d0d0;
    padding: 20px;
    border-radius: 10px;
}

.table-wrapper {
    max-height: 300px;
    overflow-y: auto;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th,
td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background: black;
    color: white;
}

tr:nth-child(even) {
    background: #f2f2f2;
}