.service-selection-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.service-selection-container h2{
    color: #fcfaf8;
}

.service-selection-container h1{
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.service-providers {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

.provider-card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: #fcfaf8;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
}

.provider-select{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0 20px;
}

.package-actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 0 20px;
}

.service-summary{
    background-color: #fcfaf8;
    padding: 30px;
    border-radius: 12px;
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.package-select {
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ddd;
}