body {
  margin: 0;
  font-family: 'popins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(bg-image.jpg);
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
}

html {
  scroll-behavior: smooth;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.booking {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  
}

h2{
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;

}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f8f8f8;
  padding: 10px 20px;
}

.nav-links a {
  margin: 0 10px;
  text-decoration: none;
  color: black;
}

.nav-buttons .login-btn,
.nav-buttons .signup-btn {
  margin-left: 10px;
  padding: 5px 10px;
}
